<footer>Copyright 2022 Coachync.com -  Jad Taha <br>
    <a href="mailto:jadtaha.de@gmail.com">Email me for any Issues</a>
    or
    <a href="https://jadtaha.com/contact.php"> Contact me on my Website</a>
</footer>

</body>
</html>
