<%- include('partials/header'); -%>

<header>
  <div class="Coachync">
    <img src="./assets/GuyGrowing.png" alt="Coachync Logo" />
  </div>
  <div className="headings">
    <h2>Coachync API</h2>
    <a href="/doc" class="btn"> Documantation</a>
  </div>
</header>

<%- include('./partials/footer'); -%>
