<%- include('partials/header'); -%>

<header>
  <div class="naruto">
    <img src="./assets/naruto.png" alt="naruto" />
  </div>
  <div className="headings">
    <h2>Coachync API</h2>
  </div>
</header>

<%- include('./partials/footer'); -%>
